h1 {
    font-size: 65px;
    color: rgba(255, 51, 0, 0.76);
    font-family: sans-serif ;
    line: height 100px;
    text-align:center;
    text-decoration:underline wavy;
}
#Amarelo {color: yellow;}
#Vermelho {color:red}
#Marrom {color: brown;}
ul {
  background-color: rgb(141, 53, 53);
  font-style:italic;
}
.Cores {
  background-color: rgb(8, 214, 233);
}
p {
  font-weight: 600;
}
body {
  font-size: 16px;
  background-color: rgb(255, 255, 255);
}
